/* Importando fontes */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@400;700&display=swap");

/* Definindo variáveis de cor e fonte */
:root {
  --corFundo: #ffffff;
  --cor2: #e1aead;
  --cor3: #ffd700;
  --cor4: #bfa2db;
  --fonte1: "Dancing Script", cursive;
  --fonte2: "Lato", sans-serif;
}

/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
p {
  font-family: var(--fonte2);
}

/* Estilo do corpo da página */
body {
  min-height: 100vh;
  overflow-y: hidden;
  background-color: var(--corFundo);
}

/* Estilo do cabeçalho */
header {
  min-height: 30vh;
  background-color: var(--cor2);
  background: url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.openModalBtn {
  position: absolute;
  left: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 25%;
  transition: 0.3s;
}

.openModalBtn:hover {
  background-color: #0000000d;
}

#modal::backdrop {
  background-color: #0000003a;
  backdrop-filter: blur(5px);
}

#modal {
  z-index: 5;
  max-width: 400px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal h2 {
  margin-bottom: 20px;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  font-family: var(--fonte2);
  background-color: #4caf50;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #45a049;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#imgItem {
  display: none;
}

#previewImage {
  border: dashed 1px rgba(128, 128, 128, 0.214);
  width: 100px;
  height: 100px;
  margin-top: 0.5rem;
  font-family: var(--fonte2);
  text-align: center;
  object-fit: cover;
}

#modal input {
  width: 100%;
  margin-bottom: 0.6rem;
  padding: 0.5rem;
}

#modal menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

menu > button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #008000;
  color: var(--corFundo);
}

menu > button[type="reset"] {
  background-color: rgb(255, 0, 0);
}

#modalNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#modalNav button {
  width: 6rem;
  height: 3rem;
  border: none;
  color: var(--corFundo);
  border-radius: 0.3rem;
  background-color: rgba(107, 179, 255, 0.72);
  font-weight: 700;
  cursor: pointer;
}

#modalNav button:first-child {
  background-color: #4caf50;
}

#x {
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
  font-size: 3rem;
}

#updateForm button {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 200, 255);
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
}

/* Estilo dos elementos do cabeçalho */
header h1 {
  color: var(--cor3);
  font-family: var(--fonte1);
  font-size: 4.5rem;
  text-shadow: rgba(0, 0, 0, 0.646) 0px 0px 15px;
}

header p {
  color: var(--corFundo);
  font-size: 1rem;
  max-width: 70vw;
  text-shadow: rgba(0, 0, 0, 0.355) -1px 1px 0px;
}

/* Estilo da seção de pesquisa */
#search {
  max-width: 380px;
  display: flex;
  margin: auto;
  margin: 1rem auto;
  /* padding: 0 .5rem; */
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

#iconSearch {
  position: absolute;
  /* left: 15.7rem; */
  margin-right: -8.5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 50%;
}

#cart-icon {
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
  border-radius: 25%;
  /* border: solid var(--cor2) 1px; */
}

#inputSearch {
  width: 260px;
  height: 40px;
  padding: 1rem;
  background-color: var(--cor4);
  border: none;
  outline: none;
  border-radius: 20px;
  color: var(--corFundo);
  font-family: var(--fonte2);
}

/* Estilo da lista de produtos */
#arrayProducts {
  background-color: var(--cor4);
  margin: auto;
  border-radius: 25px 25px 0 0;
  width: 90%;
  /* height: 390px; */
  max-height: 55%;
  /* padding: 2rem; */
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#arrayProducts::-webkit-scrollbar {
  display: none;
}

/* Estilo dos itens da lista */
.product-item {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.065);
  background-color: var(--corFundo);
  list-style: none;
  display: flex;
  width: 100%;
  min-width: 210px;
  max-width: 240px;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  text-transform: capitalize;
  text-transform: capitalize;
}

@media screen and (orientation: portrait) {
  .product-item {
    width: 370px;
    max-width: 370px;
  }

  .product-item:first-child {
    margin-top: 2rem;
  }

  .product-item:last-child {
    margin-bottom: 1rem;
  }

  #modal {
    max-width: 80%;
  }

  #arrayProducts {
    width: 100%;
  }
}

.product-item img {
  max-width: 140px;
  width: 140px;
  height: 140px;
  align-self: center;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: .2rem;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.product-details h2 {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0.3rem;
}

.product-details p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

/* Estilo do preço original com linha de desconto */
h4 {
  margin-top: 2.7rem;
  opacity: 50%;
  text-decoration: line-through;
  font-size: 0.9rem;
}

h3 {
  font-size: 1.1rem;
}

/* Estilo do ícone */
.favorite {
  cursor: pointer;
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
  user-select: none;
  transition: 0.5s;
}

@media screen and (orientation: landscape) {
  #arrayProducts {
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    outline: none;
    overflow-x: auto;
    left: 0;
    transform: translateX(0);
  }

  .product-item {
    flex-direction: column;
  }

  header h1 {
    font-size: 6.5rem;
  }

  header p {
    font-size: 1.1rem;
    max-width: 400px;
  }

  #search {
    max-width: 600px;
    justify-content: space-between;
  }

  #inputSearch {
    width: 400px;
  }

  #iconSearch {
    left: 23rem;
  }
}
